<%= form_for(@cpu_socket) do |f| %>
  <% if @cpu_socket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpu_socket.errors.count, "error") %> prohibited this cpu_socket from being saved:</h2>

      <ul>
      <% @cpu_socket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
