<%= form_for(@cpu) do |f| %>
  <% if @cpu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpu.errors.count, "error") %> prohibited this cpu from being saved:</h2>

      <ul>
      <% @cpu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :part_no %><br>
    <%= f.text_field :part_no %>
  </div>
  <div class="field">
    <%= f.label :data_width %><br>
    <%= f.text_field :data_width %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.text_field :speed %>
  </div>
  <div class="field">
    <%= f.label :cores %><br>
    <%= f.number_field :cores %>
  </div>
  <div class="field">
    <%= f.label :l1_cache %><br>
    <%= f.text_field :l1_cache %>
  </div>
  <div class="field">
    <%= f.label :l2_cache %><br>
    <%= f.text_field :l2_cache %>
  </div>
  <div class="field">
    <%= f.label :l3_cache %><br>
    <%= f.text_field :l3_cache %>
  </div>
  <div class="field">
    <%= f.label :lithography %><br>
    <%= f.text_field :lithography %>
  </div>
  <div class="field">
    <%= f.label :thermal_design_power %><br>
    <%= f.text_field :thermal_design_power %>
  </div>
  <div class="field">
    <%= f.label :includes_cpu_cooler %><br>
    <%= f.check_box :includes_cpu_cooler %>
  </div>
  <div class="field">
    <%= f.label :hyper_threading %><br>
    <%= f.check_box :hyper_threading %>
  </div>
  <div class="field">
    <%= f.label :integrated_graphics %><br>
    <%= f.text_field :integrated_graphics %>
  </div>
  <div class="field">
    <%= f.label :cpu_socket_str %><br>
    <%= f.text_field :cpu_socket_str %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
