<p id="notice"><%= notice %></p>

<h1>Listing Cpus</h1>

<table class="parts" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>

      <th>Model</th>
      <th>Speed</th>
      <th>Cores</th>
      <th>TDP</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @cpus.each do |cpu| %>

      <tr>
        <td><%= link_to cpu.model, cpu %></td>
        <td><%= cpu.speed %></td>
        <td><%= cpu.cores %></td>
        <td><%= cpu.thermal_design_power %></td>
        <td>0BDT</td>
      </tr>

    <% end %>
  </tbody>
</table>

<%= datagrid_form_for @grid, :method => :get, :url => cpus_path %>
 
<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= will_paginate(@grid.assets) %>