<div class="col-md-8">

<p id="notice"><%= notice %></p>
<h3>Specification of <%= @cpu.model %>:</h3>
<table class="parts" class="display" cellspacing="0" width="100%">
<thead>
<tr>

  <th>Feature</th>
  <th>Specifications</th>

</tr>
</thead>

<tbody>
    <tr>
      <td>Manufacturer:</td>
      <td><%= @cpu.product.manufacturer %></td>
    </tr>
    <tr>
      <td>Model:</td>
      <td><%= @cpu.model %></td>
    </tr>
    <tr>
      <td>Data width:</td>
      <td><%= @cpu.data_width %></td>
    </tr>
    <tr>
      <td>Speed:</td>
      <td><%= @cpu.speed %></td>
    </tr>
    <tr>
      <td>Cores:</td>
      <td><%= @cpu.cores %></td>
    </tr>
    <tr>
      <td>L1 cache:</td>
      <td><%= @cpu.l1_cache %></td>
    </tr>
    <tr>
      <td>L2 cache:</td>
      <td><%= @cpu.l2_cache %></td>
    </tr>
    <tr>
      <td>L3 cache:</td>
      <td><%= @cpu.l3_cache %></td>
    </tr>
    <tr>
      <td>Lithography:</td>
      <td><%= @cpu.lithography %></td>
    </tr>
    <tr>
      <td>Thermal design power:</td>
      <td><%= @cpu.thermal_design_power %></td>
    </tr>
    <tr>
      <td>Includes cpu cooler:</td>
      <td><%= @cpu.includes_cpu_cooler %></td>
    </tr>
    <tr>
      <td>Hyper threading:</td>
      <td><%= @cpu.hyper_threading %></td>
    </tr>
    <tr>
      <td>Integrated graphics:</td>
      <td><%= @cpu.integrated_graphics %></td>
    </tr>
    <tr>
      <td>Cpu socket:</td>
      <td><%= @cpu.cpu_socket.name %></td>
    </tr>
<tbody>
</table>
</div>

<div class="col-md-4 add_build_col">
<%=render 'layouts/add_to_build', :form_link=>add_cpu_path(@cpu) %>
</div>