

<div class="col-md-8">

  <p id="notice"><%= notice %></p>
  <%= render "layouts/product_carousel", pictures:@cpu_case.product.pictures %>

  <h3>Specification of <%= @cpu_case.part_no %>:</h3>
  <table class="parts" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>

      <th>Feature</th>
      <th>Specifications</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Manufacturer:</td>
      <td><%=  @cpu_case.manufacturer   %></td>
    </tr>
    <tr>
      <td>Type: </td>
      <td><%= @cpu_case.type   %></td>
    </tr>
    <tr>
      <td>Color: </td>
      <td><%= @cpu_case.color   %></td>
    </tr>
    <tr>
      <td>Includes power supply: </td>
      <td><%= @cpu_case.includes_power_supply  %></td>
    </tr>
    <tr>
      <td>External 5 25 bays:</td>
      <td><%=@cpu_case.external_5_25_bays     %></td>
    </tr>
    <tr>
      <td>Internal 2 5 bays:  </td>
      <td><%=  @cpu_case.internal_2_5_bays     %></td>
    </tr>
    <tr>
      <td>Internal 3 5 bays: </td>
      <td><%= @cpu_case.internal_3_5_bays   %></td>
    </tr>
    <tr>
      <td> Motherboard compatibility:  </td>
      <td><% @cpu_case.motherboard_compatibility.each do |form_factor| %>
            <%= form_factor.name %>,
        <%end%></td>
    </tr>
    <tr>
      <td>Front panel usb 3 0: </td>
      <td><%= @cpu_case.front_panel_usb_3_0 %></td>
    </tr>
    <tr>
      <td>Ports: </td>
      <td><%= @cpu_case.ports     %></td>
    </tr>
    <tr>
      <td>Maximum video card length: </td>
      <td><%=  @cpu_case.maximum_video_card_length    %></td>
    </tr>
    <tr>
      <td>Dimensions: </td>
      <td>  <%= @cpu_case.length %> x
        <%= @cpu_case.width %> x
        <%= @cpu_case.height %>
      </td>
    </tr>
    <tbody>
  </table>
</div>

<div class="col-md-4 add_build_col">
<%=render 'layouts/add_to_build', :form_link=>add_cpu_case_path(@cpu_case),:product => @cpu_case.product,blank_product_icon: cpu_case_blank_icon %>
</div>