<p id="notice"><%= notice %></p>

<% unless @blog_post.avatar.blank? %>
	 <%=image_tag @blog_post.avatar %> 
<% else %>
	 <%=image_tag blank_img %> 
<% end %>

<h1><%=@blog_post.title%></h1>
<p><%=@blog_post.body%></p>

<% unless @blog_post.build.nil? %>
  <%= render  @blog_post.build %>
<% end %>

<%= render 'layouts/fb_comments', url: "http://developers.facebook.com/docs/plugins/comments/" %>
