<p id="notice"><%= notice %></p>

<p>
  <strong>No of cores:</strong>
  <%= @processor_performance.no_of_cores %>
</p>

<p>
  <strong>No of threads:</strong>
  <%= @processor_performance.no_of_threads %>
</p>

<p>
  <strong>Processor base frequency in ghz:</strong>
  <%= @processor_performance.processor_base_frequency_in_GHz %>
</p>

<p>
  <strong>Thermal design power in w:</strong>
  <%= @processor_performance.thermal_design_power_in_W %>
</p>

<%= link_to 'Edit', edit_processor_performance_path(@processor_performance) %> |
<%= link_to 'Back', processor_performances_path %>
