<p id="notice"><%= notice %></p>

<% unless @blog_post.avatar.blank? %>
	 <%=image_tag @blog_post.avatar %> 
<% end %>


<%= render  @blog_post.blogit_post %>
  <% unless @blog_post.build.nil? %>
  	<%= render  'builds/select_or_show_build',  :@current_build => @blog_post.build %>
  <% end %>
<%= share_bar_for @blog_post.blogit_post %>
<%= render "blogit/posts/post_footer", post: @blog_post.blogit_post %>
<%= comments_for @blog_post.blogit_post %>