<%if sharable %>
    <div style="margin-bottom:10px;">
        <div class="input-group">
         <span class="input-group-addon share-button-group">
              <div class=" btn btn-block build-share btn-social btn-social-right">
          		Permalink:
              </div>
          </span>
		
          <input id="build-url" type="text" class="input-group-addon form-control build-url" value="<%=request.base_url%>/builds/<%=@current_build.token%>" aria-describedby="basic-addon2"  style="margin-top: 1px" readonly>
          <span id="copy-url" class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-vk btn-social share-button " title="Copy to clipboard">
                <i class="fa fa-files-o"></i>
              </a>
          </span>
          
          <script>
          	
		$( "#copy-url" ).click(function() {

			select_and_focus("#build-url");
			copy_to_clip_board("#build-url");
			update_text_status(".status-area");

		});
		$('#build-url').click( function() {
			select_and_focus("#build-url");
			copy_to_clip_board("#build-url");
			update_text_status(".status-area");

		});


          </script>
          <span class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-pinterest btn-social share-button btn-social-left" target="_blank" href="<%= "#{request.base_url}/builds/#{@current_build.token}.pdf" %>" title="Save as PDF">
  >        		<i class="fa fa-file-pdf-o"></i>
              </a>
          </span>


          <span class="input-group-addon" style="padding:10px;width: 10px; background-color: white;"></span>
          <span class="input-group-addon share-button-group">
              <div class="btn btn-block build-share btn-social btn-social-right">
          		Share:
              </div>
          </span>

          <style>
            	  .share-button-group{
            	  	padding:0 0 0 0;
            	  	padding-left: 0px;
            	  	padding-right: 0px;
            	  	margin: 0px;
            	  	border-top-color: white !important;
            	  	border-bottom-color: white !important;
            	  	            	  	border-top-width: 1px;
            	  	border-bottom-width: 1px;
            	  	}
            	  	.input-group-addon{
            	  		border-color: transparent;
            	  	}
                  .share-button{
                  	height: 33px; 
                  	width:31px;
                  	}
                  .btn-social{
                  	border-radius: 0px;
                  	border: 0;
                  	}
                  .btn-social-left{
                  	border-radius: 4px;
                  	border-top-left-radius: 0px;
                  	border-bottom-left-radius: 0px;
                  	}
                  .btn-social-right{
                  	border-radius: 4px;
                  	border-top-right-radius: 0px;
                  	border-bottom-right-radius: 0px;
                  	}
                  	.build-url{
                  		box-sizing:border-box;
						  -moz-box-sizing:border-box;
						  -webkit-box-sizing:border-box;
						
                  		border-top-width:1px;
                  		border-bottom-width:1px;
                  		border-top-color:#4A83C1;
                  		border-bottom-color:#4A83C1;

  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

                  	}
            </style>


          <span class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-facebook btn-social share-button" href=<%="https://www.facebook.com/sharer/sharer.php?u=#{request.base_url}/builds/#{@current_build.token}"%> target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
          </span>
                <span class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-twitter btn-social share-button" href=<%="https://twitter.com/share?url=#{request.base_url}/builds/#{@current_build.token}" %> target="_blank" title="Share on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
          </span>
          <span class="input-group-addon share-button-group">
          <a class=" btn btn-block btn-google btn-social share-button btn-social-left" href=<%= "https://plus.google.com/share?url=#{request.base_url}/builds/#{@current_build.token}"%> target="_blank" title="Share on Google Plus">
            <i class="fa fa-google"></i>
          </a>
          </span>
        </div>
                  <span class="status-area pull-right"><span>
    </div>
<%end%>
<style>
        .cross {
            background-color: #0088cc;
            color: white;
            padding: 1.5px;
            border-radius: 3px;
        }
              .cross:hover{
                  background-color: #005983;
              }
              .parts_list{list-style: none}
              
              
              
              .table-part-icon{
  			max-width:30px;
  			height: 20px;
  			webkit-filter:	invert()
				 			sepia()
							saturate(8000%)
							hue-rotate(30deg)
							drop-shadow(3px 3px 5px gray);
		
  		}
      </style>


<table class="table table-condensed">
  <thead>
  <tr>
  	<th class="com-md-1"></th>
    <th class="com-md-3">Component</th>
    <th class="com-md-3">Selection</th>
    <th class="com-md-2">Price</th>
    <th class="com-md-3">Shop</th>
  </tr>
  </thead>

  <tbody>

  
  <% [	{part:"cpu",        icon:"http://media.memoryexpress.com/Assets/ContentPages/TechZone/TZ_Quickmount-Icon.png"},
  		{part:"motherboard",icon:"https://cdn1.iconfinder.com/data/icons/computer-hardware-4/512/CPU-512.png"},
  		{part:"cooler",     icon:"https://cdn2.iconfinder.com/data/icons/gears-wheels-blades/512/computer_cooler-512.png"},
  		{part:"memory",     icon:"http://media.memoryexpress.com/Assets/ContentPages/TechZone/TZ_Memory-Icon.png"},
  		{part:"storage",    icon:"https://cdn0.iconfinder.com/data/icons/huge-basic-icons-part-3/512/Hard_disk.png"},
  		{part:"video_card", icon:"https://cdn3.iconfinder.com/data/icons/glypho-computers-andother-tech/64/computer-graphic-card-512.png"},
  		{part:"cpu_case",   icon:"https://cdn2.iconfinder.com/data/icons/computer-hardware-3/175/Layer_14-01-512.png"},
  		{part:"power_supply", icon:"https://cdn2.iconfinder.com/data/icons/pixel-perfect-at-24px-volume-7/24/Untitled-2-128.png"}
  	 ].each do |product| 
  	%>
  		<%part=product[:part]%>
  		<%icon=product[:icon]%>
  		
  	<tr>

      	<td class="col-md-1 text-center"> <%= image_tag icon, :class=>"table-part-icon" %></td><td class="col-md-3"> <%= link_to part, eval("#{part.pluralize}_url") %></td>

    	<td class="col-md-3">
    		
      		<% if @current_build.send("#{part.pluralize}").blank? %>
      			<% if  editable %>
            		<%= link_to "add #{part}", eval("#{part.pluralize}_url"), {:class =>"btn btn-xs btn-primary"} %>
            	<% end %>
      		<% end %>
      
      		<% @current_build.send("#{part.pluralize}").each do |p| %>
      			<li class="parts_list">
      	 			<%= link_to p.product.part_no , eval("#{part}_path(p)") %>
          			<%= link_to eval("remove_#{part}_path(p)"), :method => :post do %><i class="fa fa-times cross"></i><% end %>
      			</li>
      		<% end %>	  
    	</td>

    	<td class="col-md-2"><% @current_build.send("#{part}_builds").each do |build| %><li> <%=build.market_status.price if build.market_status %> </li><%end%></td>
    	<td class="col-md-3"><% @current_build.send("#{part}_builds").each do |build| %><li> <%=build.market_status.shop.name if build.market_status%></li><%end%></td>
	</tr>
  <%end%>


  </tbody>
</table>