<style>
        .cross {
            background-color: #0088cc;
            color: white;
            padding: 1.5px;
            border-radius: 3px;
        }
              .cross:hover{
                  background-color: #005983;
              }
              .parts_list{list-style: none}
      </style>


<table class="table table-condensed">
  <thead>
  <tr>
    <th>Component</th>
    <th>Selection</th>
    <th>Price</th>
    <th>Shop</th>
  </tr>
  </thead>

  <tbody>

  
      
      
  <% ["cpu","motherboard", "cooler","memory", "storage","video_card","cpu_case","power_supply"].each do |part| %>
  	<tr>    
      	<td> <%= link_to part, eval("#{part.pluralize}_url") %></td>

    	<td>
      		<% if @current_build.send("#{part.pluralize}").blank? %>
            	<%= link_to "add #{part}", eval("#{part.pluralize}_url"), {:class =>"btn btn-xs btn-primary"} %>
      		<% end %>
      
      		<% @current_build.send("#{part.pluralize}").each do |p| %>
      			<li class="parts_list">
      	 			<%= link_to p.product.part_no , eval("#{part}_path(p)") %>
          			<%= link_to eval("remove_#{part}_path(p)"), :method => :post do %><i class="fa fa-times cross"></i><% end %>
      			</li>
      		<% end %>
	  
    	</td>

    	<td><% @current_build.send("#{part}_builds").each do |build| %><li> <%=build.market_status.price if build.market_status %> </li><%end%></td>
    	<td><% @current_build.send("#{part}_builds").each do |build| %><li> <%=build.market_status.shop.name if build.market_status%></li><%end%></td>
	</tr>
  <%end%>


  </tbody>
</table>