<p id="notice"><%= notice %></p>



  <h3>Current Build</h3>




    <div style="margin-bottom:20px;">
        <div class="input-group">
          <span class="input-group-addon build-share">Permalink: </span>
          <input type="text" class="form-control" value="<%=request.base_url%>/builds/<%=@current_build.token%>" aria-describedby="basic-addon2"  style="background-color: white" readonly>
          <span class="input-group-addon build-share">Share it on

          </span>
          <style>
            .share-button-group{padding:0 0 0 0;}
                  .share-button{height: 33px; width:31px;}
            </style>
          <span class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-facebook btn-social share-button">
                <i class="fa fa-facebook"></i>
              </a>
          </span>
                <span class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-twitter btn-social share-button">
                <i class="fa fa-twitter"></i>
              </a>
          </span>
          <span class="input-group-addon share-button-group">
          <a class=" btn btn-block btn-google btn-social share-button">
            <i class="fa fa-google"></i>
          </a>
          </span>
        </div>
    </div>
    <%= render 'select_or_show_build' %>

<div>
  <h3>Consistancy report</h3>
  <div style="color:green">
        <h4>Reports(<%= @current_build.reports.count %>):</h4>
        <% @current_build.reports.each do |report| %>
              <li><%=report%></li>
        <%end%>
  </div>
</div>
