<p id="notice"><%= notice %></p>



  <h3>Current Build</h3>




    <div style="margin-bottom:10px;">
        <div class="input-group">
         <span class="input-group-addon share-button-group">
              <div class=" btn btn-block build-share btn-social btn-social-right">
          		Permalink:
              </div>
          </span>

          <input id="build-url" type="text" class="input-group-addon form-control build-url" value="<%=request.base_url%>/builds/<%=@current_build.token%>" aria-describedby="basic-addon2"  style="margin-top: 1px" readonly>
          <span id="copy-url" class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-vk btn-social share-button " title="Copy to clipboard">
                <i class="fa fa-files-o"></i>
              </a>
          </span>
          
          <script>
          	
		$( "#copy-url" ).click(function() {

			select_and_focus("#build-url");
			copy_to_clip_board("#build-url");
			update_text_status(".status-area");

		});
		$('#build-url').click( function() {
			select_and_focus("#build-url");
			copy_to_clip_board("#build-url");
			update_text_status(".status-area");

		});


          </script>
          <span class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-pinterest btn-social share-button btn-social-left" target="_blank" href="<%= "#{request.base_url}/builds/#{@current_build.token}.pdf" %>" title="Save as PDF">
  >        		<i class="fa fa-file-pdf-o"></i>
              </a>
          </span>


          <span class="input-group-addon" style="padding:10px;width: 10px; background-color: white;"></span>
          <span class="input-group-addon share-button-group">
              <div class="btn btn-block build-share btn-social btn-social-right">
          		Share:
              </div>
          </span>

          <style>
            	  .share-button-group{
            	  	padding:0 0 0 0;
            	  	padding-left: 0px;
            	  	padding-right: 0px;
            	  	margin: 0px;
            	  	border-top-color: white !important;
            	  	border-bottom-color: white !important;
            	  	            	  	border-top-width: 1px;
            	  	border-bottom-width: 1px;
            	  	}
            	  	.input-group-addon{
            	  		border-color: transparent;
            	  	}
                  .share-button{
                  	height: 33px; 
                  	width:31px;
                  	}
                  .btn-social{
                  	border-radius: 0px;
                  	border: 0;
                  	}
                  .btn-social-left{
                  	border-radius: 4px;
                  	border-top-left-radius: 0px;
                  	border-bottom-left-radius: 0px;
                  	}
                  .btn-social-right{
                  	border-radius: 4px;
                  	border-top-right-radius: 0px;
                  	border-bottom-right-radius: 0px;
                  	}
                  	.build-url{
                  		box-sizing:border-box;
						  -moz-box-sizing:border-box;
						  -webkit-box-sizing:border-box;
						
                  		border-top-width:1px;
                  		border-bottom-width:1px;
                  		border-top-color:#4A83C1;
                  		border-bottom-color:#4A83C1;

  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

                  	}
            </style>


          <span class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-facebook btn-social share-button" href=<%="https://www.facebook.com/sharer/sharer.php?u=#{request.base_url}/builds/#{@current_build.token}"%> target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
          </span>
                <span class="input-group-addon share-button-group">
              <a class=" btn btn-block btn-twitter btn-social share-button" href=<%="https://twitter.com/share?url=#{request.base_url}/builds/#{@current_build.token}" %> target="_blank" title="Share on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
          </span>
          <span class="input-group-addon share-button-group">
          <a class=" btn btn-block btn-google btn-social share-button btn-social-left" href=<%= "https://plus.google.com/share?url=#{request.base_url}/builds/#{@current_build.token}"%> target="_blank" title="Share on Google Plus">
            <i class="fa fa-google"></i>
          </a>
          </span>
        </div>
                  <span class="status-area pull-right"><span>
    </div>
    <%= render 'select_or_show_build' %>

<div>
  <h3>Consistancy report</h3>
  <div style="color:green">
        <h4>Reports(<%= @current_build.reports.count %>):</h4>
        <% @current_build.reports.each do |report| %>
              <li><%=report%></li>
        <%end%>
  </div>
</div>
