<%= form_for(@processor_memory) do |f| %>
  <% if @processor_memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processor_memory.errors.count, "error") %> prohibited this processor_memory from being saved:</h2>

      <ul>
      <% @processor_memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :max_memory_size_GB %><br>
    <%= f.number_field :max_memory_size_GB %>
  </div>
  <div class="field">
    <%= f.label :max_no_of_memory_channels %><br>
    <%= f.number_field :max_no_of_memory_channels %>
  </div>
  <div class="field">
    <%= f.label :max_memory_bandwidth_in_GBs %><br>
    <%= f.text_field :max_memory_bandwidth_in_GBs %>
  </div>
  <div class="field">
    <%= f.label :ecc_memory_supported %><br>
    <%= f.check_box :ecc_memory_supported %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
