<p id="notice"><%= notice %></p>

<p>
  <strong>Max memory size gb:</strong>
  <%= @processor_memory.max_memory_size_GB %>
</p>

<p>
  <strong>Max no of memory channels:</strong>
  <%= @processor_memory.max_no_of_memory_channels %>
</p>

<p>
  <strong>Max memory bandwidth in gbs:</strong>
  <%= @processor_memory.max_memory_bandwidth_in_GBs %>
</p>

<p>
  <strong>Ecc memory supported:</strong>
  <%= @processor_memory.ecc_memory_supported %>
</p>

<%= link_to 'Edit', edit_processor_memory_path(@processor_memory) %> |
<%= link_to 'Back', processor_memories_path %>
