

<div class="col-md-8">

  <p id="notice"><%= notice %></p>
  <%= render "product_carousel", pictures:@power_supply.product.pictures %>

  <h3>Specification of <%= @power_supply.part_no %>:</h3>
  <table class="parts" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>

      <th>Feature</th>
      <th>Specifications</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Manufacturer:</td>
      <td><%=  @power_supply.product.manufacturer   %></td>
    </tr>
    <tr>
      <td>Type: </td>
      <td><%= @power_supply.power_supply_type   %></td>
    </tr>
    <tr>
      <td>Wattage: </td>
      <td><%= @power_supply.wattage  %></td>
    </tr>
    <tr>
      <td>Fans: </td>
      <td><%=@power_supply.fans      %></td>
    </tr>
    <tr>
      <td>Modular:  </td>
      <td><%=  @power_supply.modular      %></td>
    </tr>
    <tr>
      <td>Efficiency certification:  </td>
      <td><%= @power_supply.efficiency_certification    %></td>
    </tr>
    <tr>
      <td> Efficiency:   </td>
      <td><%=@power_supply.efficiency %></td>
    </tr>
    <tr>
      <td>Output: </td>
      <td><%= @power_supply.output  %></td>
    </tr>
    <tr>
      <td>Pci express 6 plus 2 pin connectors: </td>
      <td><%= @power_supply.pci_express_6_plus_2_pin_connectors     %></td>
    </tr>
    <tbody>
  </table>
</div>

<div class="col-md-4 add_build_col">
<%=render 'layouts/add_to_build', :form_link=>add_power_supply_path(@power_supply), :product => @power_supply.product %>
</div>