<p id="notice"><%= notice %></p>

<h1>Listing Processor Data Protections</h1>

<table>
  <thead>
    <tr>
      <th>Aes new nstructions</th>
      <th>Secure key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processor_data_protections.each do |processor_data_protection| %>
      <tr>
        <td><%= processor_data_protection.AES_new_nstructions %></td>
        <td><%= processor_data_protection.secure_key %></td>
        <td><%= link_to 'Show', processor_data_protection %></td>
        <td><%= link_to 'Edit', edit_processor_data_protection_path(processor_data_protection) %></td>
        <td><%= link_to 'Destroy', processor_data_protection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data protection', new_processor_data_protection_path %>
