<p id="notice"><%= notice %></p>

<p>
  <strong>Turbo boost technology:</strong>
  <%= @processor_advanced_technology.turbo_boost_technology %>
</p>

<p>
  <strong>Vpro technology:</strong>
  <%= @processor_advanced_technology.vPro_technology %>
</p>

<p>
  <strong>Hyper threading technology:</strong>
  <%= @processor_advanced_technology.hyper_threading_technology %>
</p>

<p>
  <strong>Virtualization technology vtx:</strong>
  <%= @processor_advanced_technology.virtualization_technology_vtx %>
</p>

<p>
  <strong>Virtualization technology for directed io vtd:</strong>
  <%= @processor_advanced_technology.virtualization_technology_for_directed_IO_vtd %>
</p>

<p>
  <strong>Vtx with extended page tables ept:</strong>
  <%= @processor_advanced_technology.vtx_with_extended_page_tables_ept %>
</p>

<p>
  <strong>Tsx ni:</strong>
  <%= @processor_advanced_technology.TSX_NI %>
</p>

<p>
  <strong>Intel 64:</strong>
  <%= @processor_advanced_technology.intel_64 %>
</p>

<p>
  <strong>Idle states:</strong>
  <%= @processor_advanced_technology.idle_states %>
</p>

<p>
  <strong>Enhanced speedstep technology:</strong>
  <%= @processor_advanced_technology.enhanced_speedstep_technology %>
</p>

<p>
  <strong>Thermal monitoring technologies:</strong>
  <%= @processor_advanced_technology.thermal_monitoring_technologies %>
</p>

<p>
  <strong>Virtualization technology for itanium vti:</strong>
  <%= @processor_advanced_technology.virtualization_technology_for_itanium_vti %>
</p>

<p>
  <strong>Stable image platform program sipp:</strong>
  <%= @processor_advanced_technology.stable_image_platform_program_SIPP %>
</p>

<%= link_to 'Edit', edit_processor_advanced_technology_path(@processor_advanced_technology) %> |
<%= link_to 'Back', processor_advanced_technologies_path %>
