<div class="col-md-8">

  <p id="notice"><%= notice %></p>
  <%= render "layouts/product_carousel", pictures:@storage.product.pictures %>

  <h3>Specification of <%= @storage.part_no %>:</h3>
  <table class="parts" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>

      <th>Feature</th>
      <th>Specifications</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Manufacturer:</td>
      <td><%= @storage.product.manufacturer   %></td>
    </tr>
    <tr>
      <td>Part no: </td>
      <td><%= @storage.product.part_no   %></td>
    </tr>
    <tr>
      <td>Capacity:</td>
      <td><%= @storage.capacity   %></td>
    </tr>
    <tr>
      <td>Interface: </td>
      <td><%= @storage.interface   %></td>
    </tr>
    <tr>
      <td>Cache:</td>
      <td><%= @storage.cache   %></td>
    </tr>
    <tr>
      <td> Form factor: </td>
      <td><%= @storage.form_factor %></td>
    </tr>
    <tr>
      <td>Ssd controller:</td>
      <td><%= @storage.ssd_controller   %></td>
    </tr>
    <tr>
      <td>Nand flash type: </td>
      <td><%= @storage.nand_flash_type    %></td>
    </tr>
    <tr>
      <td>Gb 1: </td>
      <td><%= @storage.gb_1  %></td>
    </tr>
    <tr>
      <td>Price gb:</td>
      <td><%= @storage.price_gb   %></td>
    </tr>
    <tbody>
  </table>
</div>

<div class="col-md-4 add_build_col">
<%=render 'layouts/add_to_build', :form_link=>add_storage_path(@storage), :product=>@storage.product,blank_product_icon: storage_blank_icon %>
</div>
