<p id="notice"><%= notice %></p>

<h1>Listing Coolers</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Part no</th>
      <th>Supported Sockets</th>
      <th>Liquid cooled</th>
      <th>Radiator size</th>
      <th>Noise level</th>
      <th>Fan rpm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coolers.each do |cooler| %>
      <tr>
        <td><%= cooler.manufacturer %></td>
        <td><%= cooler.part_no %></td>
        <td><%= cooler.cpu_sockets %></td>
        <td><%= cooler.liquid_cooled %></td>
        <td><%= cooler.radiator_size %></td>
        <td><%= cooler.noise_level %></td>
        <td><%= cooler.fan_rpm %></td>
        <td><%= link_to 'Show', cooler %></td>
        <td><%= link_to 'Edit', edit_cooler_path(cooler) %></td>
        <td><%= link_to 'Destroy', cooler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cooler', new_cooler_path %>
