<div class="col-md-8">

  <p id="notice"><%= notice %></p>

  <%= render "product_carousel", pictures:@cooler.product.pictures %>

  <h3>Specification of <%= @cooler.part_no %>:</h3>
  <table class="parts" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>

      <th>Feature</th>
      <th>Specifications</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Manufacturer:</td>
      <td><%= @cooler.product.manufacturer %></td>
    </tr>
    <tr>
      <td> Part no:</td>
      <td><%= @cooler.product.part_no %></td>
    </tr>
    <tr>
      <td>Supported sockets: </td>
      <td><% @cooler.cpu_sockets.each do |socket| %>
            <%= socket.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Liquid cooled: </td>
      <td><%= @cooler.liquid_cooled  %></td>
    </tr>
    <tr>
      <td>Radiator size:</td>



      <td><%= @cooler.radiator_size  %></td>
    </tr>
    <tr>
      <td> Noise level:</td>
      <td><%= @cooler.noise_level  %></td>
    </tr>
    <tr>
      <td> Fan rpm: </td>
      <td><%= @cooler.fan_rpm  %></td>
    </tr>

    <tbody>
  </table>
</div>

<div class="col-md-4 add_build_col">
<%=render 'layouts/add_to_build', :form_link=>add_cooler_path(@cooler), :product => @cooler.product %>
</div>