<p id="notice"><%= notice %></p>

<h1>Listing Processor Platform Protections</h1>

<table>
  <thead>
    <tr>
      <th>Trusted execution technology</th>
      <th>Execute disable bit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processor_platform_protections.each do |processor_platform_protection| %>
      <tr>
        <td><%= processor_platform_protection.trusted_execution_technology %></td>
        <td><%= processor_platform_protection.execute_disable_bit %></td>
        <td><%= link_to 'Show', processor_platform_protection %></td>
        <td><%= link_to 'Edit', edit_processor_platform_protection_path(processor_platform_protection) %></td>
        <td><%= link_to 'Destroy', processor_platform_protection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Platform protection', new_processor_platform_protection_path %>
