<%= form_for(@processor_expansion) do |f| %>
  <% if @processor_expansion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processor_expansion.errors.count, "error") %> prohibited this processor_expansion from being saved:</h2>

      <ul>
      <% @processor_expansion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PCI_express_revision %><br>
    <%= f.text_field :PCI_express_revision %>
  </div>
  <div class="field">
    <%= f.label :max_no_of_PCI_express_lanes %><br>
    <%= f.number_field :max_no_of_PCI_express_lanes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
