<p id="notice"><%= notice %></p>

<h1>Listing Processor Expansions</h1>

<table>
  <thead>
    <tr>
      <th>Pci express revision</th>
      <th>Max no of pci express lanes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processor_expansions.each do |processor_expansion| %>
      <tr>
        <td><%= processor_expansion.PCI_express_revision %></td>
        <td><%= processor_expansion.max_no_of_PCI_express_lanes %></td>
        <td><%= link_to 'Show', processor_expansion %></td>
        <td><%= link_to 'Edit', edit_processor_expansion_path(processor_expansion) %></td>
        <td><%= link_to 'Destroy', processor_expansion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expansion', new_processor_expansion_path %>
