<p id="notice"><%= notice %></p>

<h1>Listing Form Factors</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_factors.each do |form_factor| %>
      <tr>
        <td><%= form_factor.string %></td>
        <td><%= link_to 'Show', form_factor %></td>
        <td><%= link_to 'Edit', edit_form_factor_path(form_factor) %></td>
        <td><%= link_to 'Destroy', form_factor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form factor', new_form_factor_path %>
