<div class="col-md-8">

  <p id="notice"><%= notice %></p>
  <h3>Specification of <%= @video_card.part_no %>:</h3>
  <table class="parts" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>

      <th>Feature</th>
      <th>Specifications</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Manufacturer:</td>
      <td><%=  @video_card.manufacturer   %></td>
    </tr>
    <tr>
      <td>Part no: </td>
      <td><%= @video_card.part_no   %></td>
    </tr>
    <tr>
      <td>Interface: </td>
      <td><%= @video_card.interface   %></td>
    </tr>
    <tr>
      <td>Chipset: </td>
      <td><%= @video_card.chipset  %></td>
    </tr>
    <tr>
      <td>Memory size:</td>
      <td><%= @video_card.memory_size    %></td>
    </tr>
    <tr>
      <td>Memory type: </td>
      <td><%= @video_card.memory_type     %></td>
    </tr>
    <tr>
      <td>Core clock:</td>
      <td><%= @video_card.core_clock    %></td>
    </tr>
    <tr>
      <td> Tdp: </td>
      <td><%=  @video_card.tdp   %></td>
    </tr>
    <tr>
      <td>Fan:</td>
      <td><%= @video_card.fan     %></td>
    </tr>
    <tr>
      <td>Sli support: </td>
      <td><%= @video_card.sli_support      %></td>
    </tr>
    <tr>
      <td>Crossfire support: </td>
      <td><%= @video_card.crossfire_support    %></td>
    </tr>
    <tr>
      <td>Length:</td>
      <td><%= @video_card.length   %></td>
    </tr>
    <tr>
      <td>Dvi d dual link:</td>
      <td><%= @video_card.dvi_d_dual_link    %></td>
    </tr>
    <tr>
      <td>Display port:</td>
      <td><%= @video_card.display_port    %></td>
    </tr>
    <tr>
      <td>Hdmi:</td>
      <td><%= @video_card.hdmi   %></td>
    </tr>
    <tbody>
  </table>
</div>

<div class="col-md-4 add_build_col">
<%=render 'layouts/add_to_build', :form_link=>add_video_card_path(@video_card), :product => @video_card.product %>
</div>