<div class="col-md-8">

  <p id="notice"><%= notice %></p>
  <h3>Specification of <%= @memory.part_no %>:</h3>
  <table class="parts" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>

      <th>Feature</th>
      <th>Specifications</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Manufacturer:</td>
      <td><%= @memory.manufacturer  %></td>
    </tr>
    <tr>
      <td>Part no: </td>
      <td><%= @memory.part_no  %></td>
    </tr>
    <tr>
      <td>Memory Slot: </td>
      <td><%= @memory.memory_type.name  %></td>
    </tr>
    <tr>
      <td>Speed: </td>
      <td><%= @memory.speed  %></td>
    </tr>
    <tr>
      <td>Size:</td>
      <td><%= @memory.size  %></td>
    </tr>
    <tr>
      <td> Price/gb: </td>
      <td><%= @memory.price_gb %></td>
    </tr>
    <tr>
      <td>Cas:</td>
      <td><%= @memory.cas  %></td>
    </tr>
    <tr>
      <td>Voltage: </td>
      <td><%= @memory.voltage   %></td>
    </tr>
    <tr>
      <td>Heat Spreader: </td>
      <td><%= @memory.heat_spreader %></td>
    </tr>
    <tr>
      <td>Ecc:</td>
      <td><%= @memory.ecc   %></td>
    </tr>
    <tr>
      <td>Registered:</td>
      <td><%= @memory.registered   %></td>
    </tr>
    <tr>
      <td>Color:</td>
      <td><%= @memory.color %></td>
    </tr>
    <tbody>
  </table>
</div>

<div class="col-md-4 add_build_col">
<%=render 'layouts/add_to_build', :form_link=>add_memory_path(@memory) %>
</div>