
<div class="col-md-8">

  <p id="notice"><%= notice %></p>
  <h3>Specification of <%= @motherboard.part_no %>:</h3>
  <table class="parts" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>

      <th>Feature</th>
      <th>Specifications</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Manufacturer:</td>
      <td><%= @motherboard.manufacturer %></td>
    </tr>
    <tr>
      <td>Part no:</td>
      <td><%= @motherboard.part_no %></td>
    </tr>
    <tr>
      <td>Form factor: </td>
      <td><%= @motherboard.form_factor.name  %></td>
    </tr>
    <tr>
      <td>Socket: </td>
      <td><%= @motherboard.cpu_socket.name  %></td>
    </tr>
    <tr>
      <td>Chipset:</td>
      <td><%= @motherboard.chipset  %></td>
    </tr>
    <tr>
      <td> Memory slots:</td>
      <td><%= @motherboard.memory_slot.name  %></td>
    </tr>
    <tr>
      <td> Memory type: </td>
      <td><%= @motherboard.memory_type  %></td>
    </tr>
    <tr>
      <td>Max memory:</td>
      <td><%= @motherboard.max_memory  %></td>
    </tr>
    <tr>
      <td>Raid support: </td>
      <td><%= @motherboard.raid_support  %></td>
    </tr>
    <tr>
      <td>Onboard video: </td>
      <td><%= @motherboard.onboard_video  %></td>
    </tr>
    <tr>
      <td>Crossfire support:</td>
      <td><%= @motherboard.crossfire_support  %></td>
    </tr>
    <tr>
      <td>Sli support: </td>
      <td><%= @motherboard.sli_support  %></td>
    </tr>
    <tr>
      <td>Sata 6 gbs: </td>
      <td><%= @motherboard.sata_6_gbs  %></td>
    </tr>
    <tr>
      <td>Onboard ethernet: </td>
      <td><%= @motherboard.onboard_ethernet  %></td>
    </tr>
    <tr>
      <td>Onboard usb 3 headers: </td>
      <td><%= @motherboard.onboard_usb_3_headers %></td>
    </tr>

    <tbody>
  </table>
</div>

<div class="col-md-4 add_build_col">
<%=render 'layouts/add_to_build', :form_link=>add_motherboard_path(@motherboard) %>
</div>