  <div class="add_build">
  	<div class="panel-heading" style="text-align: left"> <i class="fa fa-plug" style="font-size: 20px;"></i> <span class="pull-right">Add to build!</span></div>
  		<a href="#" class="thumbnail">
	      <img src="https://cdn.pcpartpicker.com/static/forever/images/product/f6776a85afe4c2236d84eb42fe6da169.med.1600.jpg" alt="">
	    </a>
		
			
    <%= form_tag(form_link, :method => "Post") do %>
      
      <table style="margin-bottom: 0em;">
	      <tr>
	      	<th>Shop Name</th>
	      	<th>Base Price</th>
	      </tr>
		  <tr>
		    <th><p><%= radio_button_tag(:age, "child") %> Ryans Computer </p></th>
		    <th>2000/=</th>
		  </tr>
		  <tr>
		    <th><p><%= radio_button_tag(:age, "child") %> Ryans Computer </p></th>
		    <th>2000/=</th>
		  </tr>
		</table>
		
		<div style="text-align:right">
		 <p>
			<span>Quantity <%= number_field_tag 'qty',1, class: "qty" %></span>
			<%= submit_tag 'Add to build', :class => "btn btn-primary" %>
		 </p>
		 <p>or	<%= link_to 'back to current build', current_build_url %></p>
	  	</div>
	<% end %>


  </div>