  <div class="add_build">
  	<div class="panel-heading" style="text-align: left"> <i class="fa fa-plug" style="font-size: 20px;"></i> <span class="pull-right">Add to build!</span></div>
  		<a href="#" class="thumbnail">
			<%= image_tag product.avatar%> 
	    </a>
		
			
    <%= form_tag(form_link, :method => "Post") do %>
      
      <table style="margin-bottom: 0em;">
	      <tr>
	      	<th>Shop Name</th>
	      	<th>Base Price</th>
	      </tr>
	      <% product.market_statuses.each do |market_status|%>
		  <tr>	
		    <th><p><%= radio_button_tag(:market_status, market_status.id) %> <%= market_status.shop.name %> </p></th>
		    <th><%= market_status.price %></th>
		  </tr>
		  <% end %>
		  
		</table>
		
		<div style="text-align:right">
		 <p>
			<span>Quantity <%= number_field_tag 'qty',1, class: "qty" %></span>
			<%= submit_tag 'Add to build', :class => "btn btn-primary" %>
		 </p>
		 <p>or	<%= link_to 'back to current build', current_build_url %></p>
	  	</div>
	<% end %>


  </div>