<!DOCTYPE html>
<html>
<head>
  <title>Pickpcparts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/global_nav' %>


</head>
<body>
<div class="container">
  <div class="col-md-8">
    <%= yield %>
  </div>
  <div class="col-md-4 ad">
    <%= render 'layouts/commercials'%>
  </div>
</div>
</body>
</html>
