<div class="ad">
	<%= image_tag "http://adoptserver.com/adopt/www/images/ada8f633c293374803b92588fe450108.gif", :width=>"100%"%>
</div>
<div class="ad">
	<%= image_tag "http://revive.bdnews24.com/www/images/4637492b5a5743234b95535baeae16b3.gif", :width=>"100%"%>
</div>
<div class="ad">
	<%= image_tag "http://revive.bdnews24.com/www/images/4637492b5a5743234b95535baeae16b3.gif", :width=>"100%"%>
</div>	
<div class="ad">
	<%= image_tag "http://revive.bdnews24.com/www/images/4637492b5a5743234b95535baeae16b3.gif", :width=>"100%"%>
</div>
<div class="ad">
	<%= image_tag "http://revive.bdnews24.com/www/images/4637492b5a5743234b95535baeae16b3.gif", :width=>"100%"%>
</div>
<div class="ad">
	<%= image_tag "http://revive.bdnews24.com/www/images/4637492b5a5743234b95535baeae16b3.gif", :width=>"100%"%>
</div>
