<div class="ad">
	<%= image_tag "http://adoptserver.com/adopt/www/images/ada8f633c293374803b92588fe450108.gif", :width=>"100%"%>
</div>
<div class="ad">
	<%= image_tag "https://tpc.googlesyndication.com/simgad/9559968863477504625", :width=>"100%"%>
</div>
<div class="ad">
	<%= image_tag "https://tpc.googlesyndication.com/simgad/14990911941625155800", :width=>"100%"%>
</div>	
<div class="ad">
	<%= image_tag "http://pagead2.googlesyndication.com/simgad/12922809820373678081", :width=>"100%"%>
</div>
<div class="ad">
	<%= image_tag "http://revive.bdnews24.com/www/images/4637492b5a5743234b95535baeae16b3.gif", :width=>"100%"%>
</div>
<div class="ad">
	<%= image_tag "https://tpc.googlesyndication.com/simgad/6154479667724423085", :width=>"100%"%>
</div>
