<div class="navbar-fixed-top">
	<div class="navbar yamm navbar-default navbar-fixed-top" style="padding: 0;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle collapsed" aria-expanded="false">
          	<span class="icon-bar"></span>
          	<span class="icon-bar"></span>
          	<span class="icon-bar"></span>
          	</button>
          	<%= link_to "PCPARTSBD.com", root_path, :class=>"navbar-brand" %>
          	
        </div>
        <div id="navbar-collapse-1" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">

            <li><%= link_to current_build_path do %>
            	<i class="fa fa-puzzle-piece menu-icon"></i> Your Build
            	<% end %>
            </li>
            <li><%= link_to root_path do%>
            	<i class="fa fa-star menu-icon"></i> Featured Builds
            	<%end%>
            </li>
            <li><%= link_to blogit_path do%>
            	<i class="fa fa-bullhorn menu-icon"></i> Blog Posts
            	<% end %>
            </li>
            
            <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false"><i class="fa fa-cubes menu-icon"></i> Individual Parts<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                	              <div class="yamm-content">
		<div class="row">        
			<div class="col-md-12 text-center">
              <div class="col-sm-1">
                <%= link_to cpus_path, :class=> "menu-parts-icon" do %>
                	<%= image_tag "https://pcpartpicker.com/static/forever/img/nav-cpu.png", alt: "CPU"%>
	                <p>CPU</p>
                <% end %>
                 
              </div>
              <div class="col-sm-1">
                <a href="/coolers" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-cpucooler.png" alt="CPU Cooler">CPU Cooler</a>
              </div>
              <div class="col-sm-1">
                <a href="/motherboards" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-motherboard.png" alt="Motherboard">Mother- board</a>
              </div>
              <div class="col-sm-1">
                <a href="/memories" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-memory.png" alt="Memory">Memory</a>
              </div>
              <div class="col-sm-1">
                <a href="/storages" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-ssd.png" alt="Storage">Storage</a>
              </div>
              <div class="col-sm-1">
                <a href="/video_cards" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-videocard.png" alt="Video Card">Video Card</a>
              </div>
              <div class="col-sm-1">
                <a href="/power_supplies" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-powersupply.png" alt="Power Supply">Power Supply</a>
              </div>
              <div class="col-sm-1">
                <a href="/cpu_cases" class="menu-parts-icon"><img src="https://pcpartpicker.com/static/forever/img/nav-case.png" alt="Case">Case</a>
              </div>
          </div>

        </div>

                  </div>
                </li>
              </ul>
            </li>
            <li><%= link_to root_path do%>
            	<i class="fa fa-newspaper-o menu-icon"></i> About Us
            	<%end%>
            </li>
            <li><%= link_to root_path do%>
            	<i class="fa fa-users menu-icon"></i> Partner Shops
            	<%end%>
            </li>
            <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false"><i class="fa fa-search menu-icon"></i> Search<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                	<div class="yamm-content">
						<div class="row">
							<form action="search">
							  <div class="form-group">
							    <%= text_field_tag("search","",
								                   :class => 'autocomplete-input form-control',
								                   :autocomplete => 'on',
								                   :placeholder  => 'Search ..',
								                   :'data-url'   => "search/auto_complete_search")
								%>
							  </div>
							  <button type="submit" class="btn btn-default">Search</button>
							</form>
						</div>
					</div>
				</li>
			  </ul>
			</li>
          </ul>
          <style>
          .contact{color:white;font-size:12px;}
          </style>
            <div class="pull-right">
	            <div class="contact"><i class="fa fa-phone"></i> <span>01758085078</span></div>
	            <div class="contact"><i class="fa fa-envelope"></i> <span>contact@pcpartsbd.com</span></div>
	            <div class="contact"><span>Follow us:</span> <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i></div>
	        </div>
        </div>
      </div>
    </div>

    </div>