<p id="notice"><%= notice %></p>

<h1>Listing Processor Graphics</h1>

<table>
  <thead>
    <tr>
      <th>Processor graphics</th>
      <th>Graphics base frequency in mhz</th>
      <th>Graphics max dynamic frequency ghz</th>
      <th>Graphics video max memory in gb</th>
      <th>Quick sync video</th>
      <th>Wireless display</th>
      <th>Clear video hd technology</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processor_graphics.each do |processor_graphic| %>
      <tr>
        <td><%= processor_graphic.processor_graphics %></td>
        <td><%= processor_graphic.graphics_base_frequency_in_MHz %></td>
        <td><%= processor_graphic.graphics_max_dynamic_frequency_GHz %></td>
        <td><%= processor_graphic.graphics_video_max_memory_in_GB %></td>
        <td><%= processor_graphic.quick_sync_video %></td>
        <td><%= processor_graphic.wireless_display %></td>
        <td><%= processor_graphic.clear_video_hd_technology %></td>
        <td><%= link_to 'Show', processor_graphic %></td>
        <td><%= link_to 'Edit', edit_processor_graphic_path(processor_graphic) %></td>
        <td><%= link_to 'Destroy', processor_graphic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graphic', new_processor_graphic_path %>
