<p id="notice"><%= notice %></p>

<p>
  <strong>Processor graphics:</strong>
  <%= @processor_graphic.processor_graphics %>
</p>

<p>
  <strong>Graphics base frequency in mhz:</strong>
  <%= @processor_graphic.graphics_base_frequency_in_MHz %>
</p>

<p>
  <strong>Graphics max dynamic frequency ghz:</strong>
  <%= @processor_graphic.graphics_max_dynamic_frequency_GHz %>
</p>

<p>
  <strong>Graphics video max memory in gb:</strong>
  <%= @processor_graphic.graphics_video_max_memory_in_GB %>
</p>

<p>
  <strong>Quick sync video:</strong>
  <%= @processor_graphic.quick_sync_video %>
</p>

<p>
  <strong>Wireless display:</strong>
  <%= @processor_graphic.wireless_display %>
</p>

<p>
  <strong>Clear video hd technology:</strong>
  <%= @processor_graphic.clear_video_hd_technology %>
</p>

<%= link_to 'Edit', edit_processor_graphic_path(@processor_graphic) %> |
<%= link_to 'Back', processor_graphics_path %>
